html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.listh5 b{
    cursor: pointer;
}
.listh5 b:hover{
    margin-left: 8px;
}

.animated-hover{
    cursor: pointer;
}
.animated-hover:hover{
    margin-left: 5px;
}

body::-webkit-scrollbar{
    width: 0px;
}

/* .menu-bar{
    width: 100vw;
    background-color: white;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menu-bar a{
    color: black;
} */

.h-100{
    min-height: 100vh;
}

/* .scroll-group{
    position: relative;
}

.scroll{
    scroll-behavior: smooth;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.scroll::-webkit-scrollbar{
    width: 2px;
} */

.btn-to{
    position: fixed;
    border: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center ;
    z-index: 100;
    border-radius: 50%;
    color: white;
    background-color: orange;
    bottom: 30px;
    right: 30px;
}

.btn-to:hover{
    color: white;
    text-decoration: none;
}

.title-icon{
    animation: fadeInLeft 1s;
}

.banner{
    animation: fadeInLeft 1s;
}

.navbar{
    animation: bounceInDown 1s;
}

@media (max-width: 575.98px) {
    .banner{
        display: none;
    }
    #short-story h1{
        font-size: 50px;
    }

    .socials-button{
        font-size: 20px;
    } 

    .title-name{
        font-size: 35px;
    }

    .responsive-section{
        min-height: auto !important;
    }
}
